* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 70px;
    background: white
  
  }
    
  .news {
    width: 160px;
    background-color: rgb(222, 64, 149);
  }

  .dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
    background-color: rgb(222, 64, 149);
    border-radius: 50%;
    display: inline-block
  }
  
  .container {
    padding: 40px 5%;
  }
  
  .heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  
  .heading-text span {
    font-weight: 100;
  }
  
  ul {
    list-style: none;
  }

  .button  {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Responsive gallery rules*/
  
  .image-gallery {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .image-gallery > li {
    flex-basis: 350px;
    position: relative;
    cursor: pointer;
  }
  
  .image-gallery::after {
    content: "";
    flex-basis: 350px;
  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 50px;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #000000;
    border-radius: 10px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* hover */
  .image-gallery li:hover .overlay {
    transform: scale(1);
  }

    /* Responsive store rules*/
  
    .image-store {
      padding-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 70px;
    }
    
    .image-store > li {
      flex-basis: 350px;
      position: relative;
      cursor: pointer;
    }
    
    .image-store::after {
      content: "";
      flex-basis: 350px;
    }
    
    .image-store li img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-radius: 50px;
    }
    
    /* hover */
    .image-store li:hover .overlay {
      transform: scale(1);
    }
    
